/**************************/


/*     General Styles     */


/**************************/

body,
html {
    width: 100%;
    height: 100%;
}

body,
p {
    color: #565578;
    font: 400 1rem/1.625rem "Open Sans", sans-serif;
}

h1 {
    color: #272556;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 3.25rem;
    letter-spacing: -0.4px;
}

h2 {
    color: #272556;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.625rem;
    letter-spacing: -0.4px;
}

h3 {
    color: #272556;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 2.25rem;
    letter-spacing: -0.2px;
}

h4 {
    color: #272556;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.125rem;
    letter-spacing: -0.2px;
}

h5 {
    color: #272556;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.625rem;
}

h6 {
    color: #272556;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.375rem;
}

.p-large {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.p-small {
    font-size: 0.875rem;
    line-height: 1.5rem;
}

.testimonial-text {
    font-style: italic;
}

.testimonial-author {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.625rem;
}

.li-space-lg li {
    margin-bottom: 0.5rem;
}

a {
    color: #565578;
    text-decoration: underline;
}

a:hover {
    color: #565578;
    text-decoration: underline;
}

.no-line {
    text-decoration: none;
}

.no-line:hover {
    text-decoration: none;
}

.blue {
    color: #6168ff;
}

.bg-gray {
    background-color: #f9f8f8;
}

.btn-solid-reg {
    display: inline-block;
    padding: 1.375rem 2.25rem 1.375rem 2.25rem;
    border: 1px solid #272556;
    border-radius: 30px;
    background-color: #272556;
    color: #ffffff;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 0;
    text-decoration: none;
    transition: all 0.2s;
}

.btn-solid-reg:hover {
    background-color: transparent;
    color: #272556;
    /* needs to stay here because of the color property of a tag */
    text-decoration: none;
}

.btn-solid-lg {
    display: inline-block;
    padding: 1.625rem 2.625rem 1.625rem 2.625rem;
    border: 1px solid #272556;
    border-radius: 30px;
    background-color: #272556;
    color: #ffffff;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 0;
    text-decoration: none;
    transition: all 0.2s;
}

.btn-solid-lg:hover {
    background-color: transparent;
    color: #272556;
    /* needs to stay here because of the color property of a tag */
    text-decoration: none;
}

.btn-solid-sm {
    display: inline-block;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border: 1px solid #272556;
    border-radius: 30px;
    background-color: #272556;
    color: #ffffff;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 0;
    text-decoration: none;
    transition: all 0.2s;
}

.btn-solid-sm:hover {
    background-color: transparent;
    color: #272556;
    /* needs to stay here because of the color property of a tag */
    text-decoration: none;
}

.btn-outline-reg {
    display: inline-block;
    padding: 1.375rem 2.25rem 1.375rem 2.25rem;
    border: 1px solid #f25c05;
    border-radius: 30px;
    background-color: transparent;
    color: #f25c05;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 0;
    text-decoration: none;
    transition: all 0.2s;
}

.btn-outline-reg:hover {
    background-color: #f25c05;
    color: #ffffff;
    text-decoration: none;
}

.btn-outline-lg {
    display: inline-block;
    padding: 1.625rem 2.625rem 1.625rem 2.625rem;
    border: 1px solid #f25c05;
    border-radius: 30px;
    background-color: transparent;
    color: #f25c05;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 0;
    text-decoration: none;
    transition: all 0.2s;
}

.btn-outline-lg:hover {
    background-color: #565578;
    color: #ffffff;
    text-decoration: none;
}

.btn-outline-sm {
    display: inline-block;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border: 1px solid #f25c05;
    border-radius: 30px;
    background-color: transparent;
    color: #f25c05;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 0;
    text-decoration: none;
    transition: all 0.2s;
}

.btn-outline-sm:hover {
    background-color: #f25c05;
    color: #ffffff;
    text-decoration: none;
}

.form-floating label {
    margin-left: 0.5rem;
    color: #72719b;
}

.form-floating .form-control {
    padding-left: 1.25rem;
}

.form-control-submit-button {
    display: inline-block;
    width: 100%;
    height: 3.25rem;
    border: 1px solid #f25c05;
    border-radius: 30px;
    background-color: #f25c05;
    color: #ffffff;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 0;
    cursor: pointer;
    transition: all 0.2s;
}

.form-control-submit-button:hover {
    border: 1px solid #f25c05;
    background-color: transparent;
    color: #f25c05;
}


/* Fade Animation For Rotating Text - ReplaceMe  */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation: fadeIn 0.6s;
    animation: fadeIn 0.6s;
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


/* end of fade animation for rotating text - replaceme */


/**********************/


/*     Navigation     */


/**********************/

.navbar {
    background-color: #fff2dc;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 0.875rem;
}

.navbar .navbar-brand {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.navbar .logo-image img {
    width: 132px;
    height: 30px;
}

.navbar .logo-text {
    color: #272556;
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 1rem;
    text-decoration: none;
}

.offcanvas-collapse {
    position: fixed;
    top: 3.25rem;
    /* adjusts the height between the top of the page and the offcanvas menu */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #fff2dc;
    transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.offcanvas-collapse.open {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.navbar .navbar-nav {
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
}

.navbar .nav-item .nav-link {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    color: #272556;
    text-decoration: none;
    transition: all 0.2s ease;
}

.navbar .nav-item.dropdown.show .nav-link,
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
    color: #f25c05;
}


/* Dropdown Menu */

.navbar .dropdown .dropdown-menu {
    animation: fadeDropdown 0.2s;
    /* required for the fade animation */
}

@keyframes fadeDropdown {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.navbar .dropdown-menu {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    border: none;
    background-color: #fff2dc;
}

.navbar .dropdown-item {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    color: #272556;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 0.875rem;
    text-decoration: none;
}

.navbar .dropdown-item:hover {
    background-color: #fff2dc;
    color: #f25c05;
}

.navbar .dropdown-divider {
    width: 100%;
    height: 1px;
    margin: 0.5rem auto 0.5rem auto;
    border: none;
    background-color: #d1d1d1;
}


/* end of dropdown menu */

.navbar .navbar-toggler {
    padding: 0;
    border: none;
    font-size: 1.25rem;
}


/******************/